body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0f2027;
  color: #ffffff;
  scroll-behavior: smooth;
}

/* General Section Styling */
.section {
  min-height: 100vh;
  padding: 120px 20px 60px 20px;
  display: flex;
  align-items: center;
}

.alt {
  background-color: #162f3a;
}

.container {
  max-width: 1100px;
  margin: auto;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #00f5ff;
}

.highlight {
  color: #00f5ff;
}
